body{
    margin:0;
    font-family: sans-serif;
}
.content{
    text-align: center;
}
table{
    text-align: center;
    border: 1px solid black;
    margin:auto;
    border-collapse: collapse;
}
th,td{
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}